.GoodsPerPageSelector {
  color: #0D5ADC;
  font-weight: normal;
  letter-spacing: 0.02em;
}

.GoodsPerPageSelector__label {
  cursor: pointer;
  margin-left: 6px;
}

.GoodsPerPageSelector__label_active {
  cursor: default;
  border-bottom: 1px solid #0D5ADC;
}
