.GoodCards {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
}

@media (hover: none) {
  .GoodCards {
    padding-top: 10px;
    width: 100%;
  }
}

@media (hover: none) and (min-width: 411px) {
  .GoodCards {
    padding-top: 20px;
  }
}
