.SpecsRow {
  display: flex;
  border-top: 1px solid #CDCFD2;
  line-height: 21px;
}

.SpecsRow__name {
  color: #A4A9B9;
  text-transform: uppercase;
  min-width: 285px;
  max-width: 285px;
  padding: 20px;
  position: sticky;
  background-color: #F4F9FC;
  left: 0;
}

.SpecsRow__spec {
  min-width: 285px;
  max-width: 285px;
  padding-right: 30px;
  margin: auto 0;
}

@media (hover: none) {
  .SpecsRow {
    flex-wrap: wrap;
    border-top: unset;
  }

  .SpecsRow + .SpecsRow {
    border-top: 1px solid #CDCFD2;
  }

  .SpecsRow__name {
    max-width: unset;
    min-width: unset;
    position: unset;
    left: unset;
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
  }

  .SpecsRow__spec {
    max-width: unset;
    min-width: unset;
    flex: 1;
    display: inline-block;
    padding: 0 10px 10px;
    font-size: 16px;
  }
}

@media (hover: none) and (min-width: 411px) {
  .SpecsRow__name {
    padding: 20px;
  }

  .SpecsRow__spec {
    padding: 0 20px 20px;
    font-size: unset;
  }
}

@media (hover: none) and (min-width: 768px) {
  .SpecsRow__name {
    padding: 20px 30px;
  }

  .SpecsRow__spec {
    padding: 0 30px 20px;
  }
}
