.App {
  font-size: 18px;
  font-weight: 500;
}

.App__category-and-goods-per-page-selector {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  max-width: 1110px;
  padding: 164px 20px 0 20px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex-wrap: wrap;
}

.App__category {
  font-weight: bold;
  font-size: 48px;
  color: #828286;
}

.App__comparison-table {
  margin: 0 auto;
  width: fit-content;
  padding-top: 261px;
}

.App__show-difference-checkbox-and-good-cards {
  display: flex;
  align-items: flex-end;
  background-color: white;
  padding: 20px 0 77px 0;
  width: fit-content;

  position: sticky;
  top: 0;
  z-index: 1;
}

.App__show-difference-checkbox-container {
  height: 142px;
  background-color: white;
  position: sticky;
  left: 0;
  display: flex;
  align-items: flex-end;
  z-index: 3;
}
